.addbooks {
    background-color: antiquewhite;
}

.form input {
    border-radius: 5px;
    width: 400px;
    height: 30px;
    margin: 10px;
    box-shadow: 3px 3px 10px black;
}

textarea {
    height: 100px;
    box-shadow: 3px 3px 10px rgb(84, 81, 81);
    border-radius: 5px;
    width: 400px;
    padding: 5px;
    text-align: justify;

}

.form button {
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
}

.form button:hover {
    box-shadow: 4px 4px 10px rgb(52, 50, 50);
}