body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
}

.landingPage {
    background-color: rgb(255, 255, 255);
    padding: 69px;
}

.selectLoginType {
    width: 600px;
    background-color: rgb(245, 245, 245);
    height: 500px;
    margin-left: 450px;
    margin-top: 50px;
    border: 1px solid rgb(197, 197, 198);
    border-radius: 10px;

}

.selectLoginType h1 {
    padding-top: 40px;
    color: black;
    text-align: center;

}

.page {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}

.admin {

    border: 2px solid rgb(230, 133, 53);
    background-color: rgb(254, 253, 253);
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px;


}

.user {
    border: 2px solid rgb(9, 253, 5);
    background-color: rgb(254, 253, 253);
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px;

}

.admin .btn1 {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.user .btn2 {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.admin:hover {
    background-color: rgb(213, 213, 213);
}

.user:hover {
    background-color: rgb(213, 213, 213);
}

.logo {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;

}

.logo img {
    border-radius: 50px;
}